@import '../libs/vars.styl'

.list-page-container
    display flex
    justify-content space-between

.recommend-list
    width 410px
    .list-group-item
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

.patination
    margin-top 20px
    padding 0 // overwrite bootstrap