<main>
    <div class="main-container d-md-flex">
        <div class="post-details">
            <% if (is_post()) { %>
                <div class="post-title">
                    <h1>
                        <%= page.title %>
                    </h1>
                </div>
                <div class="post-meta">
                    <i class="fa-solid fa-clock"></i>&nbsp;<span class="post-date">
                        <%= date(page.date, 'YYYY/MM/DD' ) %>
                    </span>
                </div>
                <% } %>
                    <div class="post-content" data-bs-spy="scroll" data-bs-target=".toc">
                        <%- page.content %>
                    </div>
        </div>
        <div class="blog-menu nav flex-column nav-underline d-none d-md-block">
            <div data-simplebar class="toc-container">
                <%- toc(page.content, {list_number: false, class_item: 'nav-item' , class_link: 'nav-link' ,
                    class_text: 'text-body-secondary' }) %>
            </div>
        </div>
    </div>
</main>

<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>

<script>
    // auto scroll to active toc item
    document.addEventListener('DOMContentLoaded', function () {
        var firstScrollSpyEl = document.querySelector('[data-bs-spy="scroll"]')
        let scroll_timer;
        firstScrollSpyEl.addEventListener('activate.bs.scrollspy', function (event) {
            // var active_target = document.querySelector('.toc .nav-link.active');
            let active_target = event.relatedTarget;
            console.log(active_target);
            if (active_target) {
                if (scroll_timer)
                    clearTimeout(scroll_timer);
                scroll_timer = setTimeout(function () {
                    active_target.scrollIntoView({ block: 'nearest', behavior: 'smooth' });
                }, 100);
            }
        });
    });


    // back to top button
    // code from https://mdbootstrap.com/docs/standard/extended/back-to-top/
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>